:root{--background-color:rgba(224, 221, 221, 0.856)}
*{margin:0;padding:0;box-sizing:border-box}
html{height: 100%; box-sizing:border-box; margin: 0 auto; padding: 0 auto;}
body{height: 100%;}


.bg-image-fury {
  /* The image used */
  background-image: url("../images/battletank.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.card{box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);background-color:#52616e;color:#d1d1d1; padding: 30px;}
#proj-h1{padding-top:25px;padding-bottom:25px}
#contact-h1{padding-top:25px;padding-bottom:25px}
.my-container{padding:10px;
  margin: 0;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  /* transform: translate(-50%, -50%) */
}
.container {
  /* display:flex; */
}
.inner-div {width: 50%; height: 100%;}
.card-container{perspective:700px;}
.card-container,.card-flip{transform-style:preserve-3d;transition:all .7s ease}
.card-flip div{backface-visibility:hidden;transform-style:preserve-3d}
.back{transform:rotateY(-180deg)}
.card-container:hover .card-flip{transform:rotateY(180deg)}
.card-flip{display:grid;grid-template:1fr/1fr;grid-template-areas:"frontAndBack";transform-style:preserve-3d;transition:all .7s ease}
.front{grid-area:frontAndBack}
.back{grid-area:frontAndBack;transform:rotateY(-180deg)}
.card-container{display:grid;perspective:700px}
.navbar{flex:1;margin:auto!important;display:flex;justify-content:space-around;color:#81665c!important;padding:0 auto}

nav a {
    font-weight: 900;
    color:#81665c
}
#navbarSupportedContent a {
    position: relative;
    color: #81665c;
    text-decoration: none;
}
  
#navbarSupportedContent a:hover {
    color: #81665c;
}

#navbarSupportedContent a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #81665c;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  #navbarSupportedContent a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.bg-custom{background-color:#1d3348}
.navbar .navbar-brand,.navbar .navbar-text{color:#d3d3d3!important}
body{background-color:var(--background-color)}
.main-container{min-height:100vh auto;margin:0 auto;padding:0 auto; padding-bottom: 10px;display:block;}
.half-container{height:100vh;margin:0 auto;padding:0 auto}
#projects{background-color:#1d3348 !important; height: auto;}
#projects h1{color:#c4c4c4}
#about{height: auto;
  min-height: 100% !important;background-image:url(../images/back2.jpg);padding-top:60px;margin-top:0;color:#d1d1d1; padding-bottom: 0;}
#about .parallax-curtain{background:rgba(124,104,104,.7);width:100%;height:100vh;padding-top:10vh}
#projects{background-color:#1d3348}
#contact{background-image:url(../images/back2.jpg);color:#d1d1d1; height: auto;}
#contact .container p{font-weight:700}
#contact .parallax-curtain{background:rgba(124,104,104,.7);width:100%;height:100vh}
#contact h3{padding-bottom:5px}
#resume {color: #d1d1d1}
#mypic{margin-top:10%;height:200px;width:200px}
footer{text-align:center;background-color:#1d3348;height: auto; margin-bottom: 0;}
footer p {height: 100%;}
.card{margin-bottom:10px}
.main-div{background-image:url(src/images/back1.png);height:100vh;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover}
.half-div{background-image:url(src/images/back1.png);height:100vh;background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover}
@media only screen and (max-width:1100px){
  .card-container{perspective:700px; height: 150px;}
#about .parallax-curtain{background:rgba(124,104,104,.7);width:100%;}
.inner-div {width: 100%; height: 100%;}
.brand-container{display:none!important}
.half-container{height:100%}
#contact .parallax-curtain{background:rgba(124,104,104,.7);width:100%;}
#about{background-color:#dfd7d7;padding-top:45px}
#profpic{text-align:center;margin-bottom: 50px;}
.bg-image-fury {
  /* The image used */
  background-image: url("../images/title.png");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
}