/* CSS DOCUMENT */

/* MAIN LAYOUT */
html {
    box-sizing: border-box;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* flip */
.card-container {
    perspective: 700px;
  }
  
  .card-flip, .card-container {
    transform-style: preserve-3d;
    transition: all 0.7s ease;
  }
  
  .card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  
  .back {
    transform: rotateY(-180deg);
  }
  
  .card-container:hover .card-flip {
    transform: rotateY(180deg);
  }

  .card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
  }
  
  .front {
    grid-area: frontAndBack;
  }
  
  .back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
  }

  .card-container {
    display: grid;
    perspective: 700px;
  }
/* end flip */


.navbar {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 0px; */
}

body {
    background-color: black;
}

.jumbotron{
    height: 100vh;
    margin: 0 auto;
}

#about {
    background-color: rgb(223, 215, 215);
    padding-top: 100px;
}

#projects {
    background-color: white;
}

#contact {
    background-color: rgb(223, 215, 215);
}

#projects,
h1 {
    padding: 0 auto;
}

#contact,
h1 {
    padding: 0 auto;
}

footer {
    text-align: center;
    background-color: black;
    margin: 0 auto;
    color: white;
}

.card {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .brand-container {
            display: none !important;
    }

    #about {
        background-color: rgb(223, 215, 215);
        padding-top: 100px;
    }
}