/* CSS DOCUMENT */

/* MAIN LAYOUT */
html {
    box-sizing: border-box;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* start flip */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
    /* width; */
    /* height; */
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
/* end of flip */


.navbar {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 0px; */
}

body {
    background-color: black;
}

.jumbotron{
    height: 100vh;
    margin: 0 auto;
}

#about {
    background-color: rgb(223, 215, 215);
    padding-top: 100px;
}

#projects {
    background-color: white;
}

#contact {
    background-color: rgb(223, 215, 215);
}

#projects,
h1 {
    padding: 0 auto;
}

#contact,
h1 {
    padding: 0 auto;
}

footer {
    text-align: center;
    background-color: black;
    margin: 0 auto;
    color: white;
}

.card {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .brand-container {
            display: none !important;
    }

    #about {
        background-color: rgb(223, 215, 215);
        padding-top: 100px;
    }
}